<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>RPG</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <style>
        body {
            padding-top: 100px;
        }
    </style>


</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">RPG Project</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/project_web_war_exploded/web/userCharacters">Characters</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/project_web_war_exploded/web/userParties">Parties</a>
                </li>
            </ul>
            <span class="navbar-text">
		        <a class="nav-link" href="/project_web_war_exploded/web/profile" style="padding-top: 0px;padding-bottom: 0px;"><h3>$currentUser.name</h3></a>
            </span>
        </div>
    </div>
</nav>

<div class="container" style="padding-bottom: 50px;">

    <div class="row" style="padding-left: 0px;">
        <div class="col-sm text-start">
            <h3 style="margin-bottom:0px;">Create a character</h3>
        </div>
    </div>

    <hr style="border-top: 1px solid #8c8b8b;">

    <div class="container" style="padding-left:5%; padding-right:5%;">
        <form method="post" action="/project_web_war_exploded/web/doCreateCharacter">
            <div style="max-width: 500px;">
                <div class="row mb-3">
                    <label for="inputName" class="col-sm-2 col-form-label"><b>Name *</b></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName" name="name" required>
                    </div>
                </div>
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0"><b>Gender</b></legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gender" id="gridRadiosM" value="M">
                            <label class="form-check-label" for="gridRadiosM">
                                Male
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gender" id="gridRadiosF" value="F">
                            <label class="form-check-label" for="gridRadiosF">
                                Female
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gender" id="gridRadiosU" value="U" checked>
                            <label class="form-check-label" for="gridRadiosU">
                                Undefined
                            </label>
                        </div>
                    </div>
                </fieldset>
                <div class="row mb-3">
                    <label for="inputRace" class="col-sm-2 col-form-label"><b>Race</b></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputRace" name="race" value="Undefined">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputLevel" class="col-sm-2 col-form-label"><b>Level</b></label>
                    <div class="col-sm-3">
                        <input type="number" min="0" max="99" class="form-control" id="inputLevel" name="level" value="0" onKeyUp="if(this.value>99){this.value='99';}else if(this.value<0){this.value='0';}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputWillStat" class="col-sm-2 col-form-label"><b>Will</b></label>
                    <div class="col-sm-3">
                        <input type="number" min="0" max="99" class="form-control" id="inputWillStat" name="willStat" value="0" onKeyUp="if(this.value>99){this.value='99';}else if(this.value<0){this.value='0';}">
                    </div>
                </div>
            </div>

            <br>
            <span><b>Stats</b></span>
            <div class="row mb-3" style="max-width: 700px; margin-left: 75px;">
                <div class="row mb-3">
                    <div class="col">
                        <div class="row">
                            <label for="inputStrengthStat" class="col-sm-3 col-form-label">STR</label>
                            <div class="col-sm">
                                <input type="number" min="0" max="99" class="form-control" aria-label="strengthStat" name="strengthStat" value="0" onKeyUp="if(this.value>99){this.value='99';}else if(this.value<0){this.value='0';}">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <label for="inputConstitutionStat" class="col-sm-3 col-form-label">CON</label>
                            <div class="col-sm">
                                <input type="number" min="0" max="99" class="form-control" aria-label="constitutionStat" name="constitutionStat" value="0" onKeyUp="if(this.value>99){this.value='99';}else if(this.value<0){this.value='0';}">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <label for="inputDexterityStat" class="col-sm-3 col-form-label">DEX</label>
                            <div class="col-sm">
                                <input type="number" min="0" max="99" class="form-control" aria-label="dexterityStat" name="dexterityStat" value="0" onKeyUp="if(this.value>99){this.value='99';}else if(this.value<0){this.value='0';}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="row">
                            <label for="inputIntelligenceStat" class="col-sm-3 col-form-label">INT</label>
                            <div class="col-sm">
                                <input type="number" min="0" max="99" class="form-control" aria-label="intelligenceStat" name="intelligenceStat" value="0" onKeyUp="if(this.value>99){this.value='99';}else if(this.value<0){this.value='0';}">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <label for="inputWisdomStat" class="col-sm-3 col-form-label">WIS</label>
                            <div class="col-sm">
                                <input type="number" min="0" max="99" class="form-control" aria-label="wisdomStat" name="wisdomStat" value="0" onKeyUp="if(this.value>99){this.value='99';}else if(this.value<0){this.value='0';}">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <label for="inputCharismaStat" class="col-sm-3 col-form-label">CHA</label>
                            <div class="col-sm">
                                <input type="number" min="0" max="99" class="form-control" aria-label="charismaStat" name="charismaStat" value="0" onKeyUp="if(this.value>99){this.value='99';}else if(this.value<0){this.value='0';}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3" style="max-width: 500px;">
                <label for="inputMoney" class="col-sm-2 col-form-label"><b>Money</b></label>
                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm">
                            <input type="number" class="form-control" min="-999999999" max="999999999" id="inputMoney" name="money" value="0" onKeyUp="if(this.value>999999999){this.value='999999999';}else if(this.value<-999999999){this.value='-999999999';}">
                        </div>
                        <div class="col-sm-7 col-form-label">
                            <i>Gold</i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3" style="max-width: 500px;">
                <label for="inputParty" class="col-sm-2 col-form-label"><b>Party</b></label>
                <div class="col-sm">
                    <select class="form-select form-select" id="selectParty" name="selectParty">
                        <option></option>
                        #foreach($charParty in $charParties)
                        <option value="$charParty.id">$charParty.name</option>
                        #end
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <div class="input-group">
                    <span class="input-group-text"><b>Notes</b></span>
                    <textarea class="form-control" aria-label="Notes" name="notes"></textarea>
                </div>
            </div>

            <br>
            <a type="button" href="/project_web_war_exploded/web/userCharacters" class="btn btn-outline-danger">Cancel</a>
            <span style="float:right;"><button type="submit" class="btn btn-success">Create</button></span>
        </form>
    </div>
</div>

</body>
</html>